.main-text {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(225, 218, 218, 0.625));
}

@media only screen and (max-width: 768px) {
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
}
