body {
  overflow-y: scroll;
  overflow-x: hidden; /* Always show scrollbar, even if not needed */
}

/* Hide the scrollbar */
body::-webkit-scrollbar {
  width: 0.5em; /* Set a small width to trigger scrollbar track */
}

/* Track */
body::-webkit-scrollbar-track {
  background: #1a9acc; /* Change the color as needed */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #0d33de; /* Change the color as needed */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #bc0606cb; /* Change the color as needed */
}

.top-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 16%;
}
.all-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
  margin-top: 20%;
  font-size: 5rem !important;
}
.hey-name {
  font-size: 2rem;
  text-align: center;
  font-family: serif;
}
.name {
  font-size: 80%;
  text-align: center;
  font-family: serif;
}

@media only screen and (max-width: 768px) {
  .all-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    margin-top: 20%;
    font-size: 5rem !important;
  }
}

/* Media query for mobile phones */
@media only screen and (max-width: 480px) {
  .all-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    margin-top: 55%;
    font-size: 5rem !important;
    margin-bottom: 30%;
  }
}
