.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Use percentage width instead of viewport width */
  height: 100%; /* Use percentage height instead of viewport height */
  z-index: -1;
  object-fit: cover; /* Ensure the video covers the entire element */
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Use percentage width instead of viewport width */
  height: 100%; /* Use percentage height instead of viewport height */
  z-index: -1;
  object-fit: cover; /* Ensure the video covers the entire element */
  width: 100vw; /* Ensure the video covers the entire container */
}
